@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 50px;

}

.homeHeader{
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 1140px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.homeHeader p a{
    text-decoration: none;
    cursor: pointer;
}
